@import 'global';
@import 'vars';
@import 'fonts';

.header{
    width: 100%;
    margin-top: 15px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__links{
        //margin-left: 115px;
        width: 254px;
        height: 125px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0px;
    }
    
}

.logo{
    width: 237px;
    height: 121px;
    @include ibg;
}

.btn{
    font-size: 20px;
    font-weight: 500;
    color: #004096;
    height: 40px;
    width: 253px;
    // border-top: 2px solid #004096;
    // border-bottom: 2px solid #004096;
    border-top: 1px solid #004096;
    border-bottom: 3px solid #004096;
    border-right: 3px solid #004096;
    border-left: 1px solid #004096;
    //border: 2px solid #004096;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0px;
    text-transform: uppercase;
}
.yellow{
    color: #000;
    background-color: #facb55;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;

}

.contacts{
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    color: #004096;
    margin-right: 10px;
    //margin-left: 100px;
}

.operator{
    position: relative;
    display: flex;
    &__photo{
        width: 106px;
        height: 106px;
        border-radius: 50%;
        @include ibg;
    }
    &__name{
        width: 76px;
        height: 22px;
        background-color: #fff;
        border: 1px solid #004096;
        text-align: center;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 400;
        color: #004096;
        position: absolute;
        bottom: 3px;
        right: 15px;
    }
}

.videobox{
    margin-top: 10px;
    height: 100%;
    max-width: 100%;
    @include ibg;

}

.tv {
    width: 100%;
    height: 100%;
    .screen {
        margin: auto;
        opacity: 0;
        transition: opacity .5s;
        &.active {
            opacity: 1;
        }
    }
}

.videobox__info{
    position: relative;
}

.info__box{
    position: absolute;
    bottom: 100px;
    left: 30px;
   
}


.text__welcome{
    padding: 3px 10px;
    background-color: #409ab5;
    color: #fff;
    border: 2px solid #fff;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
    display: inline-block;
}

.tour__name{
    margin-top: 10px;
    padding: 3px 10px;
    background-color: #409ab5;
    color: #fff;
    border: 2px solid #fff;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    
}

.tour__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour__img{
    height:793px;
    width : 505px;
    @include ibg;
}

.tour__info{
    max-width: 590px;
    color: #004096;
    &-title{
        font-size: 47px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0px;
    }
    &-date{
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        //margin-top: 10px;
        margin-bottom: 10px;
    }
    &-comment{
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &-price{
        font-size: 40px;
        padding: 3px 10px;
        color: #409ab5;  
        font-weight: 500;
        //background-color: #409ab5;
        border-bottom: 2px solid #409ab5;
        border-top: 2px solid #409ab5;
        display: inline;
        margin-left: 230px;
        margin-right: 100px;
        text-align: center;
        
    }
    &-text{
        font-size: 20px;
        font-weight: 300;
        text-align: justify;
        span{
            font-weight: 400;              
        }
        
    }
}

.present__btn{
    margin-top: 40px;
    text-align: center;
}


.title{
    font-size: 56px;
    font-weight: 500;
    color: #004096;
    text-align: center;
    
    
}

.offer{
    margin-top: 100px;
}
.offer__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.offer__item{
    width: 300px;
    &-img{
        width: 175px;
        height: 175px;
        background-color: #409ab5;
        border-radius: 50%;
        margin: 0 auto;
        
    }
    &-text{
        font-size: 28px;
        font-weight: 300;
        margin-top: 30px;
        text-align: center;
        margin: 40px auto;
    }
}

.large{
    width: 285px;
}
.middle{
    width: 210px;
}

.little{
    width: 150px;
}
.arrival{
    height: 200px;
    background-color: #facb55;
    padding-top: 45px;
    &__text{
        margin-top: 20px;
        text-align: center;
        font-size: 28px;
        color: #000;
        font-weight: 400;
    }
}

.black{
    color: #000;
}
.links{
    background-color: #409ab5;
    height: 165px;
    padding-top: 70px;
    &__inner{
        display: flex;
        justify-content: space-around;
    }
    margin-bottom: 60px;
}


// programm start
.programm__tabbox{
    margin-top: 50px;
}
.tab{
    margin-bottom: 10px;
    input{
        display: none;
    }
}

.tab-content {
    display: none; 
    background-color: #fff;
    border: 1px solid #000;
    padding: 30px 45px; 
    color: #000;
}
.tab {
    background-color: #fff;
    border: 1px solid #004096;
    color: #000;
    a{
        color: #5a88c1;
    }
}
.tab-title {
    padding: 10px 15px; 
    display: block; 
    cursor: pointer; 
    font-size: 36px;
    color: #000;
}

.tab-title::after {
    content: '\f078'; 
    float: right; 
    font-family: 'icomoon';
    color: #004096;
}

.tab-text{
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    span{
        font-weight: 400;
    }
}

.tab-content-imgbox{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.tab-content-img{
    width: 245px;
    height: 213px;
    @include ibg;
}

.tab :checked + .tab-title {
    background-color: #facb55;   
}

.tab :checked + .tab-title::after {
    content: '\f077';  
    font-family: 'icomoon';
    color: #fff;
}

.tab :checked ~ .tab-content {
    display: block; 
}



// programm end

@import 'media';
//end present box

